*, *:before, *:after{
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: 'Ubuntu';
  font-weight: normal;
  text-decoration: none;
  color: black;
}

body{
    background-color: rgb(248, 238, 223);  
}

/*HEADER logo*/

#page-wrapper{
    position: relative;
}

#header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 238, 223);  
}
.logo{
    width: 60vw;
}
.logo > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10x;
}

/*HEADER NAVIGATION*/

nav{
    font-weight: 400;
}
nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color:darkgoldenrod;
}

