*, *:before, *:after{
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: 'Ubuntu';
  font-weight: normal;
  text-decoration: none;
  color: black;
}

body{
    background-color: rgb(248, 238, 223);  
}

/*HEADER logo*/

#page-wrapper{
    position: relative;
}

#header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 238, 223);  
}
.logo{
    width: 60vw;
}
.logo > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10x;
}

/*HEADER NAVIGATION*/

nav{
    font-weight: 400;
}
nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color:darkgoldenrod;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}


/*hero*/

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero>h2{
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email']{
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 6px;

    
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #F99602 ;
}

.btn{
    padding: 0 20px;
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 1rem;

}

/* MATERIALS */

#features{
    margin-top: 30px;
}

.grid{
    display: flex;
}

#features .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: #F2C50F;
}

.fa-fire::before{
    content: "\f06d";
}


