*, *:before, *:after{
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: 'Ubuntu';
  font-weight: normal;
  text-decoration: none;
  color: black;
}
body{
    background-color: rgb(248, 238, 223);
    
}