*, *:before, *:after{
    box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: 'Ubuntu';
  font-weight: normal;
  text-decoration: none;
}

body{
    background-color: rgb(248, 238, 223);  
}

/*HEADER logo*/

#page-wrapper{
    position: relative;
}

#header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 238, 223);  
}
.logo{
    width: 60vw;
}
.logo > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10x;
}

/*HEADER NAVIGATION*/

nav{
    font-weight: 400;
}
nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color:darkgoldenrod;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}


/*hero*/

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero>h2{
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email']{
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 6px;

    
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #F99602 ;
}

.btn{
    padding: 0 20px;
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 1rem;

}

/* MATERIALS */

#features{
    margin-top: 30px;
}

.grid{
    display: flex;
}

.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa-3x {
    font-size: 3em;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-3x {
    font-size: 3em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#features .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color:rgba(235, 125, 0, 0.74);
}

#features .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe{
    max-width: 560px;
    width: 100%;

}

/*PRICING*/

#pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product > .level{
    background-color: chocolate;
    color:black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > h2{
    margin-top: 15px;
}

.product > ol{
    margin: 15px 0;
}

.product > ol > li{
    padding: 5px 0;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: darkkhaki;
    font-weight: 400;
}

.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border:3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

footer{
    margin-top: 30px;
    background-color:#ddd;
    padding: 20px;
}

footer > ul{
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding:0 10px;
}

a{
    color: #000;
    text-decoration: none;
}

footer > span{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}